body {
  font-family: sans-serif;
  max-width: 1080px;
  margin: auto;
}

header {
  width: 50%;
  background-color: #455A64;
  float: left;
}

.top-title {
  height: 100px;
  width: 85%;
  display: inline;
  margin: auto;
}

h1 {
  padding-top: 3.0em;
  text-align: center;
  font-size: 3.3em;
  font-weight: 800;
  letter-spacing: .03em;
  color: #FFF;
  margin: auto;
}

.logo {
  width: 1.3em;
  margin: auto;
  display: inline;
}

.website-link {
  margin: 2.1em auto;
}

.website-link, .website-count, .read-count, .unread-count {
  width: 85%;
  display: block;
  font-size: 1.25em;
  color: #455A64;
  padding: .25em;
}

.website-count, .read-count, .unread-count {
  background-color: white;
  margin: .2em auto;
}

.enter-button, .clear-all-reads {
  width: 86.5%;
  display: block;
  margin: auto auto 2.25em auto;
  font-size: 1em;
  color: #FFF;
  padding: .5em;
  background-color: #FFC107;
  font-weight: 700;
  border: none;
}

.enter-button:hover {
  background-color: #FFD773
}

.all-boxes {
  width: 50%;
  float: right;
  display: inline-block;
  background-color: #CFD8DC;
}

.single-box {
  width: 88%;
  border: 1px #607D8B solid;
  background-color: #FFF;
  padding: .25em;
  margin: 1.54em auto;
}

.single-box:hover {
  background-color: #F2F4F4;
  text-decoration-color: #CFD8DC;
}

hr {
  width: 96%;
  margin-top: .8em;
  margin-bottom: .8em;
  background-color: #CFD8DC;
  color: #CFD8DC;
}

h2 {
  color: #455A64;
  margin: .25em auto auto .4em;
  font-size: 1.25em;
  font-weight: 600;
}

a {
  color: #607D8B;
  font-size: .9em;
  font-weight: 300;
  text-decoration-color: #F2F4F4;
  margin: auto auto auto .6em;
}

a:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.read-button {
  color: #607D8B;
  background-color: #FFF;
  border: none;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  margin: auto auto auto .4em;
}

.read-button:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.delete-button {
  color: #607D8B;
  background-color: #FFF;
  border: none;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  float: right;
}

.read .read-button {
  color: #F05A28;
}

.read {
  background-color: #F2F4F4;
}

/*.read:focus {
  border-color: transparent;
}*/
  /*text-decoration-color: #CFD8DC;*/
@media(max-width: 850px) {
  header, .all-boxes {
    width: 100%;
    display: block;
    float: none;
  }
  header {
    height: 675px;
    margin-bottom: 0px;
  }
  .all-boxes {
    background-color: #CFD8DC;
    margin: 0px auto;
  }

  .single-box {
    margin-top: 00px;
    height: auto;
  }
}
